body {
background-color: #90ee9096;
}

.player {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.track-art {
margin: 25px;
width: 40vw;
border-radius: 15%;
}


img{
	width: 100%;
	border-radius: 15%;
	object-fit: cover;
}
